@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Segment';
  src: url('/fonts/Segment/Segment-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Segment';
  src: url('/fonts/Segment/Segment-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@layer base {
  html {
    font-family: 'Segment', system-ui, sans-serif;
  }
}

.thirdweb-btn {
  @apply btn !important;
}

.thirdweb-btn-xs-link-neutral {
  @apply btn btn-link btn-xs text-neutral !important;
}

.thirdweb-btn-xs-link-neutral-content {
  @apply btn btn-link btn-xs text-neutral-content !important;
}

.thirdweb_btn_btn-circle_btn-ghost_btn-xs_w-fit {
  @apply btn btn-circle btn-ghost btn-xs w-fit !important;
}

